
<section id="browseCategories" class="PageJob-browse">
  <div class="col-md-4 text-center">
    <button routerLink="new" class="col-md-5 btn btn-success" type="submit">New Holiday</button>
  </div>

  <div class="Container">
    <h2 class="PageJob-title">
      Upcoming holidays
    </h2>
    <ng-container *ngFor="let h of holidays">
      <header class="PageJob-category-heading Grid">
        <div class="Grid-col Grid-col--tablet-7 Grid-col--desktopSmall-8">
          <h3 class="PageJob-category-title">
            {{ h.name }}
          </h3>
        </div>
      </header>
      <ul class="PageJob-browse-list Grid">

        <li class="Grid-col Grid-col--6 Grid-col--tablet-4 Grid-col--desktopSmall-3" data-job-category-item="s.name">
          Du <b>{{h.startDate}}</b> au
          <b>{{h.endDate}}</b>

        </li>

      </ul>
      <br>
    </ng-container>
    <br />

  </div>
</section>

